.form-text--left {
  text-align: left;
  margin: 34px 0 48px;
}

body .header--hide {
  display: none;
}

@media screen and (min-width: 768px) {
  body .header--hide {
    display: flex;
  }
  .user-info__email--color {
    color: var(--primary-color);
  }
}
