.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-container__input {
  color: var(--bg-color);
  margin-top: 20px;
}
.search-container__input::placeholder {
  color: inherit;
}

.product-types {
  font-weight: 500;
  color: var(--subtittle-color);
}
.product-types__name {
  margin-right: 1.6em;
}
.product-types__name--active {
  padding: 6px 14px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
}

.form-container__filter {
  margin-bottom: 24px;
  text-align: center;
  font-size: var(--sm-font);
}
.bottom-arrow-icon {
  transform: rotate(90deg);
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1.5em;
}

.product-card {
  width: 163px;
}

.product-card__img {
  width: 163px;
  border-radius: 20px;
  margin-bottom: 6px;
}

.product-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-description-price {
  font-family: var(--price-font);
  margin: 0;
}
.card-description-name {
  margin: 0;
  font-size: var(--sm-font);
  color: var(--subtittle-color);
}

.cart-icon-img {
  cursor: pointer;
}
