.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875em 1.25em;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.075);
}

.header .nav-links {
  display: none;
}

/* Toggle User info menu */
.user-toggle__tittle {
  list-style: none;
  cursor: pointer;
}
.user-toggle ul {
  position: absolute;
  top: 100%;
  padding: 2em 2em 0em 4em;
  box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.075);
  border-radius: var(--border-radius);
  background-color: #fff;
  z-index: 1;
}
.user-toggle ul li {
  text-align: right;
  padding-bottom: 2em;
  font-weight: bold;
  cursor: pointer;
}
.user-toggle ul li:hover {
  text-decoration: underline;
}
.user-sign-out {
  margin-top: 1em;
  font-size: var(--sm-font);
  color: var(--primary-color);
}

.user-info {
  display: none;
}
.user-info__email {
  font-size: var(--sm-font);
}

.search-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.25em;
  gap: 20px;
}
.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 12px 14px;
  margin-top: 20px;
}
.search-container__input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  color: var(--bg-color);
  width: 100%;
}
.search-container__input::placeholder {
  font-family: inherit;
  color: inherit;
}

.product-types {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
  color: var(--bg-color);
}
.product-types::-webkit-scrollbar {
  display: none;
}
.product-types__name {
  padding: 6px 12px;
  border: 1px solid var(--white);
}
.product-types__name:hover {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
}

.product-filter {
  margin-bottom: 24px;
  text-align: center;
  font-size: var(--sm-font);
}
.product-filter__name {
  font-weight: 700;
}
.product-filter__details {
  color: var(--subtittle-color);
}
.bottom-arrow-icon {
  margin-left: 0.3em;
  transform: rotate(90deg);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 145px);
  gap: 1em;
  justify-content: center;
}
.product-card {
  position: relative;
  width: 145px;
}

.product-card__img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 6px;
}
.product-card:hover::after {
  content: 'Removed from cart';
  padding: 0.35em 2em;
  position: absolute;
  top: 25%;
  right: 5%;
  width: 90%;
  height: max-content;
  font-size: var(--sm-font);
  font-weight: 500;
  text-align: center;
  color: var(--removed-color);
  background: #fff;
  opacity: 0.8;
  border-radius: var(--border-radius);
}

.product-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-description-price {
  font-family: var(--price-font);
  margin: 0;
}
.card-description-name {
  margin: 0;
  font-size: var(--sm-font);
  color: var(--subtittle-color);
}

.cart-icon-img,
.added-cart-icon-img {
  cursor: pointer;
}
.added-cart-icon-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 375px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 170px);
  }
  .product-card {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1em 2em;
  }
  .menu-anchor {
    display: none;
  }
  .header__logo--md {
    width: 143px;
  }
  .header .nav-links {
    display: flex;
    height: auto;
    flex: 1;
    gap: 0em;
    margin-left: 1em;
    font-size: var(--md-font);
  }
  .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .user-info__email {
    display: none;
  }
  .shopping-cart-link {
    margin-left: 1em;
  }

  .search-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 1em 0;
  }

  .search-input-container {
    width: 340px;
  }

  .product-types {
    display: none;
  }

  .product-filter {
    margin-bottom: 0;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 2em;
  }
  .product-card {
    width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1em 3.25em;
  }
  .header .nav-links {
    margin-left: 3.25em;
  }
  .shopping-cart-link {
    margin-left: 2em;
  }
  .user-info__email {
    display: block;
  }
  .user-info .bottom-arrow-icon--margin {
    margin-left: 0.75em;
  }
  .search-container {
    width: 55vw;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 230px);
  }
  .product-card {
    width: 230px;
  }
}
