.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 12px 14px;
  margin-top: 20px;
}
.search-container__input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  color: var(--bg-color);
  width: 100%;
}
.search-container__input::placeholder {
  font-family: inherit;
  color: inherit;
}

.product-types {
  overflow-x: scroll;
  height: 33px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
  color: var(--bg-color);
}
.product-types::-webkit-scrollbar {
  display: none;
}
.product-types__name {
  padding: 6px 14px;
}
.product-types__name:hover {
  outline: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--primary-color);
}

.product-filter {
  margin-bottom: 24px;
  text-align: center;
  font-size: var(--sm-font);
}
.product-filter__name {
  font-weight: 700;
}
.product-filter__details {
  color: var(--subtittle-color);
}
.bottom-arrow-icon {
  margin-left: 0.3em;
  transform: rotate(90deg);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 145px);
  gap: 1em;
  justify-content: center;
}
.product-card {
  width: 145px;
}

.product-card__img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 6px;
}

.product-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 170px);
  }
  .product-card {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 2em;
  }
  .product-card {
    width: 240px;
  }
}
.card-description-price {
  font-family: var(--price-font);
  margin: 0;
}
.card-description-name {
  margin: 0;
  font-size: var(--sm-font);
  color: var(--subtittle-color);
}

.cart-icon-img,
.added-cart-icon-img {
  cursor: pointer;
}
.added-cart-icon-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
