.section {
  margin: 80px 0 70px 0;
  text-align: center;
}
.section__logo {
  width: 150px;
}

.form-container {
  width: min(93.75%, 340px);
  margin: 0 auto;
}

.form-text {
  text-align: center;
  font-size: var(--lg-font);
}
.form-text__tittle {
  font-size: inherit;
  margin: 12px 0;
}
.form-text__subtittle {
  font-weight: 400;
  margin: 0 0 42px;
  color: var(--subtittle-color);
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: var(--sm-font);
  font-weight: 700;
  margin-bottom: 8px;
}
.form__input {
  font-family: inherit;
  font-size: var(--md-font);
  padding: 12px 8px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--text-input-field);
  margin-bottom: 24px;
}

.login-button {
  margin-top: 11px;
}

.primary-button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  padding: 15.8px 0;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  font-size: var(--lg-font);
  cursor: pointer;
}
