.header {
  margin: 82.31px 0 74px 0;
  text-align: center;
}
.header__logo {
  width: 148.8px;
}

.form-text {
  text-align: center;
  font-size: var(--body-font);
}
.form-text__tittle {
  line-height: 36px;
  font-size: inherit;
}
.form-text__subtittle {
  margin-bottom: 42px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 1.125em;
}
.form__label {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 28px;
}
.form__label--space {
  margin-top: 20px;
}
.form__input {
  padding: 12px 8px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--text-input-field);
}
.form__input--space {
  margin-bottom: 35px;
}

.primary-button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  padding: 18px 0;
  color: var(--white);
  font-weight: 700;
  font-size: var(--body-font);
}
