/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

/* Styles for each page */
@import url(new-password.css);
@import url(password-recovery-2.css);

/* Reset default user agent styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CSS variables */
:root {
  /* colors */
  --bg-color: #c7c7c7;
  --text-input-field: #f7f7f7;
  --primary-color: #acd9b2;
  --white: #fff;
  --black: #000;
  --dark: #232830;
  --subtittle-color: #797979
  --icon-oval-bg: #D8D8D8;


  /* typography */
  --sm-font: 0.875rem;
  --md-font: 1rem;
  --lg-font: 1.125rem;

  /* sizes */
  --border-radius: 10px;
}

/* Base styles - Mobile version */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Enlaces directos para los íconos y logos */

/* ICONOS */
/* https://svgshare.com/i/eiG.svg cart icon */
/* https://svgshare.com/i/ek2.svg added to cart icon */
/* https://svgshare.com/i/ejA.svg email icon */
/* https://svgshare.com/i/eiy.svg right arrow icon */
/* https://svgshare.com/i/ejs.svg burger menu icon */
/* https://svgshare.com/i/eiz.svg shopping cart icon */
/* https://svgshare.com/i/ei9.svg shopping cart notification icon */

/* LOGOS */
/* https://svgshare.com/i/eiH.svg favicon bota fora */
/* https://svgshare.com/i/ehx.svg favicon Yard Sale */
/* https://svgshare.com/i/eiX.svg logo bota fora */
/* https://svgshare.com/i/ekB.svg logo yard sale */

/* Sign up button */
.sign-up-button {
  margin-top: 104px;
  background-color: var(--white);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}