/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700;900&family=Roboto:wght@700&display=swap');

/* Styles for each page */
@import url(new-password.css);
@import url(password-recovery-2.css);
@import url(create-account.css);
@import url(home.css);
@import url(menu-mobile.css);

/* Reset default user agent styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/*--- end of reset ----*/

/* CSS variables */
:root {
  /* colors */
  --bg-color: #c7c7c7;
  --text-input-field: #f7f7f7;
  --primary-color: #acd9b2;
  --white: #fff;
  --black: #000;
  --dark: #232830;
  --subtittle-color: #797979;
  /* typography */
  --price-font: 'Roboto', sans-serif;
  --sm-font: 0.875rem;
  --md-font: 1rem;
  --lg-font: 1.125rem;
  /* sizes */
  --border-radius: 10px;
}

/* Base styles - Mobile version */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Enlaces directos para los íconos y logos */

/* ICONOS */
/* https://svgshare.com/i/eiG.svg cart icon */
/* https://svgshare.com/i/ek2.svg added to cart icon */
/* https://svgshare.com/i/ejA.svg email icon */
/* https://svgshare.com/i/eiy.svg right arrow icon */
/* https://svgshare.com/i/ejs.svg burger menu icon */
/* https://svgshare.com/i/eiz.svg shopping cart icon */
/* https://svgshare.com/i/ei9.svg shopping cart notification icon */
/* https://svgshare.com/i/eyS.svg glass icon */

/* LOGOS */
/* https://svgshare.com/i/eiH.svg favicon bota fora */
/* https://svgshare.com/i/ehx.svg favicon Yard Sale */
/* https://svgshare.com/i/eiX.svg logo bota fora */
/* https://svgshare.com/i/ekB.svg logo yard sale */

/* Home login page logo large modifier */
.section__logo--lg {
  width: 212px;
}

/* Password Recovery subtittle fix width modifier */
.recovery-subtittle--width {
  width: 256px;
  margin-left: auto;
  margin-right: auto;
}

/* Secondary Button */
.secondary-button {
  /* margin: 0 auto; */
  background-color: var(--white);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 15.8px 0;
  font-weight: 700;
  font-size: var(--md-font);
  cursor: pointer;
}

/* Sign up button */
.sign-up-button {
  width: min(93.75%, 340px);
  position: absolute;
  bottom: 26px;
}
@media screen and (min-width: 768px) {
  .section__logo {
    display: none;
  }
  .sign-up-button {
    bottom: 164px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.text-container span:first-child {
  font-size: var(--sm-font);
}
