<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="shortcut icon"
      href="https://svgshare.com/i/ehx.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <header class="header">
      <img
        src="./assets/icon_menu.svg"
        alt="Menu icon"
        class="header__menu-icon menu-anchor"
      />

      <a href="home.html">
        <img
          src="./assets/logo_yard_sale.svg"
          alt="Yard Sale logo"
          class="header__logo header__logo--md"
        />
      </a>
      <ul class="nav-links product-types">
        <li class="product-types__name"><a href="#">All</a></li>
        <li class="product-types__name"><a href="#">Clothes</a></li>
        <li class="product-types__name"><a href="#">Electronics</a></li>
        <li class="product-types__name"><a href="#">Furniture</a></li>
        <li class="product-types__name"><a href="#">Toys</a></li>
        <li class="product-types__name"><a href="#">Others</a></li>
      </ul>
      <details class="user-toggle">
        <summary class="user-info user-toggle__tittle">
          <p class="user-info__email">jmonge@gmail.com</p>
          <img
            src="./assets/flechita.svg"
            alt="bottom arrow"
            class="bottom-arrow-icon bottom-arrow-icon--margin"
          />
        </summary>
        <ul>
          <a href="my-orders.html">
            <li>My orders</li>
          </a>
          <a href="my-account.html">
            <li>My account</li>
          </a>
          <a href="index.html">
            <li class="user-sign-out">Sign out</li>
          </a>
        </ul>
      </details>
      <button class="shopping-cart-link">
        <img
          src="./assets/icon_shopping_cart_notification.svg"
          alt="Shopping cart notification icon"
          class="header__notificacion-icon header__notificacion-icon-margin"
        />
      </button>
    </header>
    <main class="form-container">
      <div class="order-info-container">
        <div class="my-order-info__description">
          <h3 class="my-order__tittle">04.25.2021</h3>
          <p class="order-articles">6 articles</p>
        </div>
        <p class="card-description-price">$ 560.00</p>
      </div>
      <section class="cards-container cards-container--column">
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/8P9gGbPz/round-shelf.png"
              alt="Round shelf"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Round shelf</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 120,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/tJDj6Gzp/Bitmap.png"
              alt="Retro refrigerator"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Retro fridge</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 100,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/8P9gGbPz/round-shelf.png"
              alt="Round shelf"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Round shelf</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 120,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/tJDj6Gzp/Bitmap.png"
              alt="Retro refrigerator"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Retro fridge</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 100,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/8P9gGbPz/round-shelf.png"
              alt="Round shelf"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Round shelf</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 120,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/tJDj6Gzp/Bitmap.png"
              alt="Retro refrigerator"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Retro fridge</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 100,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/8P9gGbPz/round-shelf.png"
              alt="Round shelf"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Round shelf</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 120,00
          </p>
        </article>
        <article class="product-card--flex">
          <div class="card-img-tittle">
            <img
              src="https://i.postimg.cc/tJDj6Gzp/Bitmap.png"
              alt="Retro refrigerator"
              class="product-card__img product-card__img--small"
            />
            <p class="card-description-name">Retro fridge</p>
          </div>
          <p class="card-description-price card-description-price--margin">
            $ 100,00
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
